.menu-item__container{
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: var(--mainPadding);
}

.menu-item__inner-container{
  width: 100%;
  background-color: var(--secondaryBackground);
  border-radius: 40px;
  box-shadow: 3px 3px 30px -10px #999;
}