.carousel{
  width: 100%;
  position: relative;
}

.carousel__item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 200px;
}

.carousel__arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
}

.carousel__arrow--prev{
  left: 1%;
}

.carousel__arrow--next{
  right: 1%;
}