/* Needs to be redone */

.image-slider{
  width: 100%;
  background-color: pink;
  position: relative;
}

.image-slider__item{
  display: flex !important;
  justify-content: center;
  align-items: center;
  outline: none; 
}

.image-slider .slick-arrow{
  width: 30%;
  z-index: 2;
}

.image-slider .slick-arrow::before{
  /* display: none; */
  background-color: red;
}

.image-slider__item-image{
  width: 70%;
  display: block;
  margin: 0 auto;
  height: 200px;
  
  /* max-height: 400px; */
  object-fit: contain;
}