.menu-item-c {
  box-sizing: border-box;
  width: 220px;
  padding: 10px 15px;
  background-color: var(--secondaryBackground);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 30px -10px #999;
  background-color: var(--secondaryBackground);
  transition: all 0.4s;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.menu-item-c:hover {
  box-shadow: 2px 2px 20px 0 #999;
}

.menu-item-c--primary {
  background-color: var(--primaryColor);
}

.menu-item-c__heading {
  font-size: 1.2rem;
  padding-bottom: 10px;
  width: 100%;
  align-self: center;

  display: flex;
  justify-content: center;
}

/*  */
.menu-item-c__stretched-link::after {
  content: '';
  position: absolute;
  inset: 0;
}

.menu-item-c__image {
  width: 100%;
  height: calc(220px*var(--menuItemCProportions));
  margin: 10px 0;
  object-fit: contain;
}

.menu-item-c__price {
  font-size: 1.3rem;
}

.menu-item-c__cart {
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  background-color: #e0e0e0;
  position: relative;
}

.menu-item-c__cart:hover {
  background-color: #eee;
}

.menu-item-c__cart--primary {
  border: none;
  background-color: #fcec9b;
}

.menu-item-c__cart--primary:hover {
  background-color: #e6d78e;
}

.menu-item-c__cart-icon {
  display: block;
  font-size: 1.2rem;
  color: var(--textColor);
}
